.weather__container {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather__full-weather-report {
  /* background-color: blueviolet; */
}
