.weather__container {
 
 
  /* flex-direction: row; */

  background-color: orchid;
 width: 50%;
}

.weather__full-weather-report{
  height: 100vh;
  background: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 

}
